<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>PetHarem</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

	<body id="page-top">
	<span sec:authentication="name"></span>

	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Slidebar -->
		<div th:replace="fragments/slidebar :: slidebar"></div>
		<!-- End of Slidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments/topbar :: topbar"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Publicidad</h1>

    				<form th:action="@{/publicidad/buscarPublicidad}" method="post" th:object="${publicidad}">
    					<div class="form-group">
    						<div class="col-sm-12">
    							<input type="text" class="form-control" th:field="*{empre.NEmpre}"
    								id="buscar" placeholder="Ingrese dato a buscar por Emprendimiento o Plan">
    							</input>
    						</div>
    					</div>
    					<button type="submit" class="btn btn-danger">Buscar</button>
    					<a href="/publicidad/listar" class="btn btn-dark">Cancelar</a>
    				</form>
    			
    			<hr class="sidebar-divider">
    				
				<table class="table table-bordered table-hover table-striped" id="tab_logic">
					<thead>
						<tr>
							<th class="text-center">CODIGO</th>
							<th class="text-center">ANUNCIO</th>
							<th class="text-center">EMPRENDIMIENTO</th>
							<th class="text-center">PLAN</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pub: ${listaPublis}">
							<td th:text="${pub.idPublicidad}"></td>
							<td th:text="${pub.TAnuncio}"></td>
							<td th:text="${pub.empre.NEmpre}"></td>
							<td th:text="${pub.plan.NPlan}"></td>
						</tr>
					</tbody>
				</table> 
    					
    			<p th:text="${mensaje}" class="form-text text-dark"></p>
    			
    	</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:replace="fragments/footer :: footer"></div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/logout:: logout"></div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>